* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
}
li {
    list-style: none;
}


.red {
    border: 1px solid red;
}
.blue {
    border: 1px solid blue;
}
.green {
    border: 1px solid green;
}


/* Scroll Button start */

.scrollToTop-btn {
    position: fixed;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: #FFBF00;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0;
    visibility: 0;
    transition: .5s ease;
}
.scrollToTop-btn.active {
    opacity: 1;
    visibility: visible;
}


/* Scroll Button end */

/* Navi-fixed start */

.navi-fixed {
    display: none;
}

/* Navi-fixed end */

/* Navi start */
.navi {
    background: #de8936 url('../img/images/pattern/leaf3.png') no-repeat 100% 5%;
    padding: 10px 0;
    position: relative;
}
.navi-small {
    background: #de8936 url('../img/images/pattern/leaf3.png') no-repeat 100% -5%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100vw;
    width: 80%;
    height: 100%;
    transition: all .4s ease;
}
.navi-small.show {
    left: 0;
}
.navi-small.active {
    display: none;
}
.navi-center {
    text-align: center;
    position: relative;
}
.navi-center > i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.navi-center > ul > li {
    /* height: 35px;
    line-height: 35px; */
    margin-bottom: 15px;
}
.navi-center > img,
.navi-small input,
.navi-small .navi-sale
{
    margin-bottom: 80px !important;
}
.navi-small ul li a {
    color: #fff;
}
.nav-item {
    padding: 10px 0;
    margin-bottom: 10px;
    color: #fff;
    background: #142a20;
    position: relative;
}
.nav-items {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}
.nav-item:hover .nav-items {
    opacity: 1;
    visibility: visible;
}
.nav-items > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-items > ul > div {
    width: 50%;
}
.nav-items > ul > div > ul {
    display: none;
    text-align: start;
    max-height: 100px;
    overflow-y: scroll;
}
.nav-items > ul > div > ul.active {
    display: block;
}
.o-hidden {
    overflow: hidden !important;
}
.nav-items > ul > div > ul i {
    color: #666;
    font-size: 7px;
    margin-right: 5px;
}
.nav-items > ul > div > li {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items > ul > div > li > a,
.nav-items > ul > div > ul  li > a
{
    color: #666;
}
.nav-items > ul > div > li > i {
    color: #666;
    cursor: pointer;
    transition: all .4s ease;
}
.nav-items > ul > div > li > i.active {
    transform: rotateZ(90deg);
}
.nav-items > ul > div > ul > div {
    margin-bottom: 10px;
}
.nav-items > ul > div > li,
.nav-items > ul > div > ul > div,
.navi-center > ul > li > a,
.showIf > a
{
    position: relative;
}
.nav-items > ul > div > li::before,
.nav-items > ul > div > ul > div::before,
.navi-center > ul > li > a::before,
.showIf > a::before 
{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    background: #de8936;
    height: 1px;
    width: 90%;
    transition: all .4s ease;
    transform: scaleX(0);
    transform-origin: center;
}
.nav-items > ul > div > ul > div::before {
    width: 100%;
    top: 25px;
}
.navi-center > ul > li > a::before,
.showIf > a::before
{
    top: 25px;
    width: 100%;
    background: #fff;
}
.nav-items > ul > div > li:hover::before,
.nav-items > ul > div > ul > div:hover::before,
.navi-center > ul > li > a:hover::before,
.showIf > a:hover::before
{
    transform: scaleX(1);
}
.if {
    display: flex;
    justify-content: center;
    align-items: center;
}
.if i {
    margin: 0 0 -2px 5px;
    color: #fff;
    transition: all .4s ease;
    cursor: pointer;
}
.if i.active {
    transform: rotateZ(90deg);
}
.showIf {
    display: none;
}
.showIf.active {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.showIf > a {
    color: #fff !important;
    margin-bottom: 10px;
}
.showIf > a:first-child {
    width: min-content;
}
.showIf > a:last-child {
    width: max-content;
}
.navi-sm-search {
    width: 100%;
    position: relative;
}
.navi-sm-search input {
    width: 70%;
    padding: 5px 5px 5px 15px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    caret-color: #fff;
    color: #fff;
}
.navi-sm-search i {
    position: absolute;
    top: 10px;
    right: 17%;
    color: #fff;
    cursor: pointer;
}
.navi-sm-search input::placeholder,
.navi-search input::placeholder,
.navi-search input 
{
    color: #fff;
}
.navi-cart a,
.navi-sale a
{
    position: relative;
}
.navi-cart span,
.navi-sale span
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: crimson;
    color: #fff;
    font-size: 14px;
}
.navi-sale #cart,
.navi-cart #cart 
{
    margin-right: 15px;
}
.navi-cart img,
.navi-sale img 
{
    height: 30px;
    cursor: pointer;
}
.navi-register #logIn,
.navi-log #logIn 
{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px 2px;
    margin-right: 5px;
    transition: all .4s ease;
}
.navi-register #logIn:hover,
.navi-log #logIn:hover 
{
    background: #3e6854;
    border: 1px solid #3e6854;
}

.navi-register #signUp,
.navi-log #signUp 
{
    background: #fff;
    color: #666;
    border-radius: 3px;
    padding: 0 7px 3px;
    transition: all .4s ease;
}
.navi-register #signUp:hover,
.navi-log #signUp:hover 
{
    background: #3e6854;
    color: #fff;
}
.navi-cart,
.navi-search,
.navi-register,
.navi-menu
{
    display: none;
}
.navi-body {
    display: flex;
    align-items: center;
}
.navi-logo {
    width: 20%;
}
.navi-logo img {
    height: 70px;
}
.hamb {
    display: block;
    color: #fff;
    width: 80%;
    text-align: right;
}
.hamb i {
    font-size: 30px;
    cursor: pointer;
}

/* Navi end */

/* Slider start */

.slider {
    padding: 30px 0;
}

/* Slider end */

/* Office start */

.office-tools {
    background-image: url('../img/images/pattern/leaf4.png'),url('../img/images/pattern/leaf5.png');
    background-repeat: no-repeat;
    background-position: -5% 20%,100% 45%;
    padding: 50px 0;
    text-align: center;
}
.message {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 30px;
    background: crimson;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
}
.message.active {
    visibility: visible;
    opacity: 1;
    bottom: 30px;
}
.office-bg{
    background-color: #f8f8f8;
}
.office-tools h4 {
    padding: 10px 0;
    position: relative;
}
.office-tools h4::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    background: #3e6854;
}
.office-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.office-col {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px 10px;
}
.col-item {
    background: #fff;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px 10px 20px;
}
.col-item div:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #3e6854;
    border-radius: 5px;
    color: #fff;
    padding: 0 10px;
    font-size: 14px;
}
.col-item > a {
    position: absolute;
    top: 10px;
    right: 10px;
}
.col-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-content a:first-child {
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.col-content img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all .4s ease;
}
.col-item:hover .col-content img {
    transform: scale(1.2);
}
.col-content span {
    margin-bottom: 20px;
}
.col-content a:last-child {
    border: 1px solid #3e6854;
    color: #666 !important;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    transition: all .4s ease;
}
.col-content a:last-child:hover {
    background:  #3e6854;
    color: #fff !important;

}

/* Office end */

/* Sections start */

.sections {
    background: url('../img/images/pattern/leaf1.png') no-repeat -5% 90%;
    padding: 50px 0;
    text-align: center;
}
.sections-bg {
    background-color: #de8936;
}
.sections h4 {
    padding: 10px 0;
    position: relative;
    color: #fff;
}
.sections h4::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    background: #fff;
}
.section-content {
    display: flex;
    flex-wrap: wrap;
}
.sectionLeft,
.sectionRight {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionLeft-content {
    width: 95%;
    height: 95%;
    position: relative;
    overflow: hidden;
}
.sectionLeft-content::before {
    content: '';
    background: rgba(1, 1, 1, 0.4);
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.sectionLeft-content:hover::before {
    opacity: 1;
}
.sectionLeft-content img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease;
}
.sectionLeft-content span{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 23px;
    transition: all .4s ease;
}
.sectionLeft-content:hover img {
    transform: scale(1.4);
}
.sectionLeft-content:hover span {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
}
.sectionRight-content {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: space-between;
}
.section-left,
.section-right 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}
.section-item {
    background-size: cover;
    width: 100%;
    height: 48%;
    position: relative;
    overflow: hidden;
}
.section-item::before {
    content: '';
    background: rgba(1, 1, 1, 0.4);
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.section-item:hover::before {
    opacity: 1;
}
.section-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease;
}
.section-item span {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    transition: all .4s ease;
}
.section-item:hover img {
    transform: scale(1.2);
}
.section-item:hover span {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

/* Sections end */

/* Section start */

.sec {
    background: url('../img/images/pattern/leaf2.png') no-repeat 100% 105%;
    padding: 50px 0;
}
.sec-bg {
    background-color: #3e6854;
}
.sec-content {
    display: flex;
    flex-wrap: wrap;
}
.sec-col {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-item {
    width: 95%;
    height: 95%;
    position: relative;
    overflow: hidden;
}
.sec-item::before {
    content: '';
    background: rgba(1, 1, 1, 0.4);
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.sec-item:hover::before {
    opacity: 1;
}
.sec-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease;
}
.sec-item span{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 23px;
    transition: all .4s ease;
}
.sec-item:hover img {
    transform: scale(1.4);
}
.sec-item:hover span {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
}
.sec-center {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.secItem {
    background-size: cover;
    width: 100%;
    height: 48%;
    position: relative;
    overflow: hidden;
}
.secItem::before {
    content: '';
    background: rgba(1, 1, 1, 0.4);
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.secItem:hover::before {
    opacity: 1;
}
.secItem img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease;
}
.secItem span {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    transition: all .4s ease;
}
.secItem:hover img {
    transform: scale(1.2);
}
.secItem:hover span {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}


/* Section end */

/* Brend start */

.brend {
    text-align: center;
    padding: 50px 0;
}
.brend h4 {
    padding: 10px 0;
    position: relative;
}
.brend h4::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    background: #3e6854;
}
.slide-flex {
    display: flex;
}
.slide-flex img {
    width: 25%;
    height: 80px;
    object-fit: contain;
}

/* Brend end */

/* Footer start */

.footer {
    background: #f2f2f2;
}
.footer-up,
.footer-down 
{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.footer-col {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
}
.footer-col:not(:last-child) {
    margin-bottom: 30px;
}
.footer-logo img {
    margin-bottom: 45px;
    height: 65%;
}
.footer-media {
    text-align: center;
    padding: 10px 0;
}
.footer-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3e6854;
    color: #fff;
    font-size: 13px;
    transition: all .4s ease;
}
.footer-media a:hover {
    background: #fff;
    color: #3e6854;
    border: 1px solid #666;
}
.footer-media a:first-child {
    margin-right: 10px;
}
.footer-col h5 {
    color: #de8936;
    border-bottom: 2px solid #de8936;
    margin-bottom: 15px;
    display: inline-block;
}
.footer-col li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-cat ul li a,
.footer-menu ul li a
{
    position: relative;
}
.footer-cat ul li a::before,
.footer-menu ul li a::before
{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    background: #de8936;
    height: 1px;
    width: 100%;
    transition: all .4s ease;
    transform: scaleX(0);
    transform-origin: center;
}
.footer-cat ul li a:hover::before,
.footer-menu ul li a:hover::before
{
    transform: scaleX(1);
}
.footer-col li a {
    color: #333 !important;
}
.footer-down {
    border-top: 1px solid #666;
}
.footerLeft-col,
.footerRight-col
{
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
}
.footerLeft-col a,
.footerRight-col a
{
    color: #de8936 !important;
    font-size: 14px;
}

/* Footer end */



/* Breakpoints */

@media (min-width: 576px) {

}
@media (min-width: 768px) {

    /* Office start */

    .office-col {
        width: 50%;
    }

    /* Office end */

    /* Section start */

    .sec-col {
        width: 50%;
    }

    /* Section end */

    /* Footer start */

    .footer-col {
        width: 50%;
    }
    .footer-col:not(:first-child),
    .footerLeft-col 
    {
        text-align: left;
    }
    .footerRight-col {
        text-align: right;
    }
    .footerLeft-col,
    .footerRight-col
    {
        width: 50%;
    }

    /* Footer end */
}
@media (min-width: 992px) {

    /* Navi start */

    .navi {
        padding: 0;
    }
    .navi-register {
        text-align: right;
        padding: 5px 0;
        display: block;
    }
    .navi-search {
        width: 50%;
        position: relative;
        display: block;
    }
    .navi-search i {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        cursor: pointer;
    }
    .navi-search input {
        width: 100%;
        padding: 5px 5px 5px 15px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #fff;
        background: transparent;
        caret-color: #fff;
    }
    .navi-cart {
        width: 30%;
        text-align: right;
        display: block;
    }
    .navi-menu {
        display: flex;
        align-items: center;
        padding: 0 !important;
    }
    .navi-category,
    .navi-left
    {
        width: 30%;
        background: #3e6854;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        color: #fff;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
    }
    .navi-left {
        margin: 0;
    }
    .navi-category .categoryList,
    .navi-left .categoryList
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        top: 54px;
        left: 0;
        width: 100%;
        background: #f8f8f8;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease;
        text-align: center;
    }
    .navi-category .categoryList > div > a,
    .navi-left .categoryList > div > a
    {
        height: 50px;
        line-height: 50px;
        color: #666;
        display: inline-block;
        width: 100%;
    }
    .navi-category .categoryList > div > a,
    .navi-left .categoryList > div > a 
    {
        position: relative;
    }
    .navi-category .categoryList > div > a::before,
    .navi-left .categoryList > div > a::before 
    {
        content: '';
        position: absolute;
        top: 50px;
        left: 0;
        background: #de8936;
        height: 1px;
        width: 100%;
        transition: all .4s ease;
        transform: scaleX(0);
        transform-origin: center;
    }
    .navi-category .categoryList > div > a:hover::before,
    .navi-left .categoryList > div > a:hover::before 
    {
        transform: scaleX(1);
    }
    .navi-category .categoryList > div > div,
    .navi-left .categoryList > div > div 
    {
        display: flex;
        justify-content: space-between;
        text-align: left;
        position: absolute;
        top: 0;
        left: 100%;
        background: #fff;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease;
        height: 350px;
        width: 700px;
        padding: 10px;
    }
    .navi-category .categoryList > div:hover > div,
    .navi-left .categoryList > div:hover > div,
    .navi-category:hover .categoryList,
    .navi-left:hover .categoryList
    {
        visibility: visible;
        opacity: 1;
    }
    .navi-category .categoryList > div > div > div > a,
    .navi-left .categoryList > div > div > div > a 
    {
        display: block;
        color: #666;
        margin-bottom: 10px;
    }
    .navi-category .categoryList > div > div > div,
    .navi-left .categoryList > div > div > div 
    {
        padding-right: 30px;
    }
    .navi-category img,
    .navi-left img 
    {
        margin-right: 15px;
    }
    .navi-menuItem {
        width: 70%;
        display: flex;
        padding-left: 20px !important;
    }
    .navi-menuItem li {
        margin-right: 20px !important;
    }
    .navi-menuItem li > a {
        position: relative;
        color: #fff;
    }
    .navi-menuItem li > a::before {
        content: '';
        position: absolute;
        top: 25px;
        left: 0;
        background: #fff;
        height: 1px;
        width: 100%;
        transition: all .4s ease;
        transform: scaleX(0);
        transform-origin: center;
    }
    .navi-menuItem li > a:hover::before {
        transform: scaleX(1);
    }
    .arrow {
        position: relative;
    }
    .arrow > .box {
        position: absolute;
        z-index: 2;
        top: 44px;
        left: 0;
        width: 150px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease;
        background: #f8f8f8;
    }
    .box a {
        color: #111 !important;
        padding: 0 10px;
        position: relative;
    }
    .box .boxItem:after {
        content: '';
        position: absolute;
        left: 0;
        background: #142a20;
        height: 1px;
        width: 100%;
        transition: all .4s ease;
        transform: scaleX(0);
        transform-origin: center;
    }
    .box a:first-child:after{
        top: 25px;
    }
    .box a:last-child:after{
        top: 50px;
    }
    .box a:hover::after {
        transform: scaleX(1);
    }
    .box a:first-child {
        margin-bottom: 10px;
    }
    .arrow img {
        transition: all .4s ease;
    }
    .arrow:hover img {
        transform: rotateZ(90deg)
    }
    .arrow:hover .box {
        opacity: 1;
        visibility: visible;
}
    .navi-menuItem li img {
        margin-left: 3px;
    }
    .hamb {
        display: none;
    }
    

    /* Navi end */

    /* Nav-fixed start */

    .navi-fixed {
        opacity: 0;
        visibility: hidden;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 5;
        padding: 0 !important;
        background: #de8936;
        transition: all .4s ease;
    }
    .navi-fixed.active {
        display: inline-flex;
        opacity: 1;
        visibility: visible;
    }
    .fixed-center {
        width: 55%;
        position: relative;
        display: block;
        text-align: center;
    }
    .fixed-center i {
        position: absolute;
        top: 9px;
        right: 21%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }
    .fixed-center > input {
        width: 60%;
        padding: 5px 5px 5px 15px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #fff;
        background: transparent;
        caret-color: #fff;
        color: #fff;
    }
    .fixed-center input::placeholder {
        color: #fff;
    }
    .navi-right {
        width: 15%;
        text-align: right;
        padding-right: 20px;
        display: block;
    }
    .navi-right a {
        position: relative;
    }
    .navi-right span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -30%;
        left: 60%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: crimson;
        color: #fff;
        font-size: 14px;
    }
    .navi-right #cart {
        margin: 0 15px;
    }
    .navi-right img {
        height: 30px;
        cursor: pointer;
    }

    /* Nav-fixed end */

    /* Sections start */

    .sectionLeft,
    .sectionRight 
    {
        width: 50%;
    }

    /* Sections end */

    /* Footer start */

    .footer-col {
        width: 25%;
        margin-bottom: 0;
    }
    .footer-logo,
    .footr-cat
    {
        margin-bottom: 30px;
    }

    /* Footer end */

}
@media (min-width: 1200px) {

    /* Office start */

    .office-col {
        width: 25%;
    }
    
    /* Office end */

    /* Section start */

    .sec-col {
        width: 33.33333333%;
    }

    /* Section end */

    /* Footer start */

    

    /* Footer end */

}
@media (min-width: 1400px) {

}



